<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Now, you can help the Institute of the Good Shepherd! You can assist us with our work, our
				current and future houses, and, in particular, with the exciting project of acquiring a new seminary by
				making an online donation <b>through PAYPAL</b>. Just click on the link below!</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="#" class="btn btn-primary btn-lg">Donate to PayPal</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->


