<div class="row section recentworks topspace">

    <h2 class="section-title"><span>Welcome</span></h2>

    <div class="">

            <div>
                <p>The Institute of the Good Shepherd is a Society of Apostolic Life of Pontifical Right established in 2006 under the pontificate and with the support of Pope Benedict XVI. The members of the Institute are secular priests, but live the common life in the houses of the Institute.
The sacerdotal spirituality of the Institute is based on the qualities of Jesus the Good Shepherd who does not cease to go after the lost sheep with a pastoral zeal filled with charity and mercy. The goal of the Institute is the sanctification of its members and the sanctification of the souls for the greater glory of God.</p>

				<p>The Institute of the Good Shepherd has for its specific mission, entrusted by the Holy See, the propagation within the Church of the liturgical and doctrinal treasures of the Catholic Tradition. To this end, the priests of the Institute are at the service of the dioceses to take on any type of traditional apostolate.</p>
				
				<p>Its mission is characterized firstly, by the exclusive use of the traditional roman liturgical books of 1962 (Extraordinary Form of the roman rite) in all of its liturgical acts. In the sense of the instruction Universae Ecclesiae (2011), the Institute aims to make accessible to all the faithful the richness of the Usus Antiquior, in order to take part in the renewal of Christian fervor as required for a re-evangelization which, to be fruitful, has to be rooted in Tradition.</p>
            
				<p>For the members of the Institute, the traditional liturgy and the theological formation based on the doctrine of Saint Thomas Aquinas - recommended so many times by the popes - are irreplaceable resources for the personal good of the priest and of the souls entrusted to him.</p> 
				
				<p> The apostolate of the Institute is diverse comprising: parishes, chaplaincies, schools, spiritual retreats, charities, etc… Anything that aims to the good of the souls may be included in the ministry of our priests. Presently the Institute has houses in five countries: France, Poland, Italy, Brazil, and Colombia.
And with your help, support and prayer in North America! </p>
			</div>

    </div>

</div> <!-- / section -->
